.App {
  font-family: sans-serif;
  text-align: center;
}
.profile {
  height: 150px;
  width: 150px;
  object-position: cover;
  border-radius: 70%;
  flex: auto;
}
.button-like,
.button-dislike
{
font-size: 1.5rem;
}
.button-like{
  margin: 0.5rem;
}
.button-container{

}
.container{
  padding: 2rem;
 
}
.font{
  font-size: 25px;
}
.table{
  border-radius: 50px;
  margin: 10px;
  background-color: blue;
  height: 190px;
  width:190px;
}
.tr{
border: blueviolet;
border-color: black;

}

